body {
    --accent: 0 196 255;
    --bg: 0 0 0;
    --fg: 255 255 255;
    background: rgba(var(--bg));
    color: rgba(var(--fg));
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

a {
    cursor: pointer !important;
}

.btn-danger {
    --accent: 255 0 0;
}

.btn,
button {
    border: 1px solid rgba(var(--accent));
    color: rgba(var(--accent));
    border-radius: 0.2rem;
    background: rgba(var(--bg));
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    min-width: 2.5rem;
    transition: all 300ms;
}

.btn:hover,
button:hover {
    background-color: rgba(var(--accent));
    color: white;
}

input[type="range"] {
    height: 2rem;
}

input[type="text"] {
    border: 1px solid rgba(var(--accent));
    border-radius: 0.2rem;
    background: rgba(var(--bg));
    color: rgba(var(--fg));
    padding: 0.5rem;
    font-size: 1rem;
}

.flex {
    display: flex;
    gap: 0.2rem;
}

.gap-3 {
    gap: 3rem;
}

.flex-down {
    flex-direction: column;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}

.grow-4 {
    flex-grow: 4;
}

.track {
    padding: 3px;
    border-radius: 0.2rem;
}